<style>
    .giscus {
        width: 50%; /* Set the width to 100% or any specific width you prefer */
        margin: 0 auto; 
    }
</style>

<script src="https://giscus.app/client.js"
    data-repo="innovation64/mynotes"
    data-repo-id="R_kgDOLwUyvg"
    data-category="General"
    data-category-id="DIC_kwDOLwUyvs4Ce3kS"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    crossorigin="anonymous"
    async>
</script>
